.item {
  padding: 10px;
  border: 1px solid $shade;
  width: 360px;
  display: flex;
  margin: 10px;
  justify-content: space-between;
  background: $base;
  border-radius: 4px;
  box-shadow: 0 4px 30px -10px rgba(0,0,0,.5);
}
